@using X.PagedList.Mvc.Core
@using Jobbie.Web.Models

@model SpecialtyIndexViewModel

<div class="row mt-4">
    <div class="col">
        <h2>Specialties</h2>
        <hr />
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Specialties" asp-action="Edit">New</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h4>Current Specialties</h4>
    </div>
</div>

<!--TODO Filters-->

<div class="row mt-2">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (SpecialtyViewModel item in Model.Specialties)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a href="/Admin/Specialties/Edit/@item.Id" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-danger" onclick="softDelete('/Admin/Specialties/Delete', @item.Id, this)">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model.Specialties, page => Url.Action("Index", new { page }), Jobbie.Web.Helpers.HtmlHelper.PagedListRenderOptions)
    </div>
</div>
