@using X.PagedList.Mvc.Core
@using Jobbie.Web.Models

@model SolicitationIndexViewModel

<div class="row mt-4">
    <div class="col">
        <h2>Solicitations</h2>
        <hr />
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Solicitations" asp-action="Edit">New</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h4>Current Solicitations</h4>
    </div>
</div>

<!--TODO Filters-->

<div class="row mt-2">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">TODO</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (SolicitationViewModel item in Model.Solicitations)
                {
                    <tr>
                        <td>TODO</td>
                        <td>
                            <a href="/Admin/Solicitations/Edit/@item.Id" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-danger" onclick="softDelete('/Admin/Solicitations/Delete', @item.Id, this)">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model.Solicitations, page => Url.Action("Index", new { page }), Jobbie.Web.Helpers.HtmlHelper.PagedListRenderOptions)
    </div>
</div>
